:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  --webkit-font-smoothing: antialiased;
  color: #999;
}
h1,
h2,
h3,
h4 {
  color: #fff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
p {
  margin: 0.5rem, 0;
}
img {
  width: 100%;
}
.showcase {
  width: 100%;
  height: 93vh;
  position: relative;
  background: url("../img/showcase.jpg") no-repeat center center/cover;
}
.showcase-top {
  height: 90px;
  z-index: 2;
  position: relative;
}
.showcase-top img {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
.showcase-content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
  justify-content: center;
  margin-top: 6rem;
}
.showcase-content h1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0 0 2rem;
}
.showcase-content p {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  margin: 0 0 2rem;
  line-height: 1.25;
  font-size: 1rem;
}
.showcase::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgb(0, 0, 0, 0.6);
  position: absolute;
  box-shadow: inset 320px, 100px, 250, #000000, inset -320px, -100px, 250,
    #000000;
}
.btn {
  color: white;
  display: inline-block;
  background: var(--primary-color);
  padding: 15px;
  border-radius: 3px;
  font-size: 1rem;
  text-align: center;
  padding: 0.4rem, 1.3rem;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0px rgb(0 0 0 / 0.45);
}
.btn:hover {
  opacity: 0.9;
}
.btn-xl {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1rem 2.1rem;
}
.btn-lg {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.8rem 1.3rem;
}
.tabs {
  background: var(--dark-color);
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;
}
.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
}
.container {
  margin: auto;
  width: 70%;
  padding: 0 2rem;
  overflow: hidden;
}
.tabs p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}
.tabs .container > div {
  padding: 1.5rem 0;
}
.tabs .container > div:hover {
  color: white;
  cursor: pointer;
}
.tab-border {
  border-bottom: 3px var(--primary-color) solid;
}
.tab-content {
  padding: 3rem 0;
  color: #fff;
  background: #000;
}
#tab-content-1,
#tab-content-2,
#tab-content-3 {
  display: none;
}
.show {
  display: block !important;
}
#tab-content-1 .tab-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}
.text-lg {
  margin-bottom: 1rem;
  font-size: 1rem;
}
.text-dark {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #999;
}
#tab-content-2 .tab-content-2-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
}
#tab-content-2 .tab-content-2-bottom {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  text-align: center;
}
.text-md {
  margin-bottom: 0.6rem;
  font-size: 1rem;
}
.text-center {
  text-align: center;
}
.table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
}
.table thead th {
  text-transform: uppercase;
  padding: 0.8rem;
}
.table tbody tr td {
  /* #background: #999; */
  text-align: center;
  padding: 0.8rem 1.2rem;
}
.table tbody tr td:first-child {
  text-align: left;
}
.table tbody tr:nth-child(odd) {
  background: #222;
}
.footer {
  max-width: 70%;
  overflow: auto;
  margin: 1rem auto;
}
.footer,
footer a {
  color: #999;
  font-size: 0.9rem;
}
.footer p {
  margin-bottom: 1.5rem;
}
.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
.footer li {
  line-height: 1.9;
}
/* 
@media (max-width: 960px) {
  .showcase {
    height: 70vh;
  }
}

.hide-sm {
  display: none;
}
.showcase-top img {
  top: 30%;
  left: 5%;
  transform: translate();
}
.showcase-content p {
  font-size: 1.5rem;
}
.showcase-content h1 {
  font-size: 3.7rem;
  line-height: 1;
}
.text-lg {
  font-size: 1.5rem;
  padding: 1.4rem 2rem;
}
.text-md {
  font-size: 1.5rem;
  padding: 1.4rem 2rem;
} */
